
<h1>Programas</h1>
<br>
<% if @programs.empty? then %>
	<strong> O sistema ainda não possui nenhum programa</strong>
	<br>
<% end %>
<br>
<% @programs.each do |program| %>
  <tr>
    <td><h4><%= link_to program.name, program %></h4></td>
    <td>Preço: <%= program.price %></td>
    <br>
    <br>
    <td><%= button_to "Deletar", program, method: :delete, data: { confirm: 'Tem certeza que quer deletar esse programa?' } %> </td></p>
  </tr>
  <br>
<% end %>

<%= button_to 'Novo Programa', "programs/new", :method => "get" %>

<br>