<br><span class="small_font"> <%= link_to @area.enterprise.program.name, @area.enterprise.program %> > <%= link_to @area.enterprise.name, @area.enterprise %> > </span> <span class="medium_font"> Nova área: </span> 
<br>
<br>
<%= render 'form' %>
<br>
<%= link_to 'Cancelar', controller: "areas" %>