%br/
%span.small_font= link_to @enterprise.program.name, @enterprise.program
>
%span.medium_font Novo empreendimento:
%br/
%br/
%br/
= render 'form'
%br/
= link_to 'Cancelar', controller: "enterprises"
