<br>
<span class="small_font">Novo subsubsistema de </span> <span class = "medium_font"> <%= link_to @subsubsystem.subsystem.name, @subsubsystem.subsystem %> </span>
<br>
<br>
<br>
<%= render 'form' %>
<br>
<%= link_to 'Cancelar', controller: "subsubsystems" %>
