%br/
%span.small_font Novo subsubsistema de
%span.medium_font
  = link_to @subsubsystem.subsystem.name, @subsubsystem.subsystem
%br/
%br/
%br/
= render 'form'
%br/
= link_to 'Cancelar', controller: "subsubsystems"
