<br><span class="small_font"> <%= link_to @system.enterprise.program.name, @system.enterprise.program %> > <%= link_to @system.enterprise.name, @system.enterprise %> > </span> <span class="medium_font"> Novo sistema: </span> 
<br>
<br>
<%= render 'form' %>
<br>
<%= link_to 'Cancelar', controller: "systems" %>