%h2
	Editando entradas do planejamento
%br/

%p
	%i
		Para remover um item do planejamento, basta deixar sua quantidade planejada em branco.

= render 'form_edit'
= link_to 'Cancelar', controller: "systems"
