<br>
<span class="medium_font">Planejamento dos períodos de <%= link_to @plannable.name, @plannable %> </h2></span>
<br>
<br>
<br>
<%= render 'form' %>
<%= link_to 'Cancelar', controller: "systems" %>