<br>
<span class="medium_font">Planejamento do <%=@plannable.plannings.count+1%>º período de <%= link_to @plannable.name, @plannable %></h2></span>
<br>
<br>
<br>
<%= render 'form' %>
<%= link_to 'Cancelar', controller: "systems" %>